body {
    margin-right: 150px;
    margin-left: 80px;
    margin-top: 30px;
}

table, th {
    border: 2px solid black;
    border-radius: 5px;
}

td {
    border: 1px solid black;
}

.save_button {
    border-radius: 25px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #35f201;
}

.remove_button {
    border-radius: 25px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #f02217;
}

#particles-js{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}